.speedDial {
    position: fixed;
    right: 3vmax;
    top: 2.8vmax;
}
  
.speedDialIcon {
    width: 58px;
    height: 58px;
    border-radius: 100%;
}

@media screen and (max-width: 800px) {
    .speedDial {
        position: fixed;
        right: 3vmax;
        top: 2vmax;
    }
    .speedDialIcon {
        width: 58px;
        height: 58px;
        border-radius: 50%;
    }
}